body {
    padding: 0%;
    margin: 0%;
    border: 0px;
    background-color: aliceblue;
} 

main {
    display: block;
    width: 100%;
    min-height: calc(100vh - 350px); /* Garante que o rodapé fique embaixo mesmo em telas vazias */
    background-color: aliceblue;
    box-sizing: border-box;
}